# SPDX-FileCopyrightText: 2020 Free Software Foundation Europe e.V.



# SPDX-License-Identifier: CC0-1.0


name: REUSE compliance check


on: [push, pull_request]





permissions:


  contents: read





jobs:


  reuse-compliance-check:


    runs-on: ubuntu-latest


    steps:


      - name: Checkout


        uses: actions/checkout@v5





      - name: REUSE Compliance Check


        uses: fsfe/reuse-action@v6
